/* Controls image logo on top */


@media (max-width: 1000px) {

  .navbar {
    font-size: .9rem;
  }
  .icon-top img {
    width: 6rem; 
    height: auto;
  }
}
/* Controls sliders */
@media (min-width: 700px) {
  .navbar-links li {
    margin-left: 2.5rem;
    /* margin: 1rem; */
  }

  .navbar {
    font-size: .9rem;
  }
  #left-arrow {
    display: none;
  }
  
  #right-arrow {
    display: none;
  }
  #slider {
    display: none;
  }
  .slide a img {
    /* margin-left: 25%; */
    max-height: 300px;
  }

}

@media (max-width: 700px) {

  .display-fotos {
    display: none;
  }

  #slider {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 410px;
    background-color: #dad8d8;
  }
  .slide a img {
    /* margin-left: 25%; */
    max-height: 400px;

    width: auto;
    height: 80%;
    margin-top: 35px;
    position: center;
    

    /* Center image */
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .slide  {
    /* margin-left: 25%; */
    /* left: 40%; */
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #dad8d8;
    display: none;
  }
  .slide.active {
    display: block;
  }

  #left-arrow {
    font-weight: bold;
    color: #8C9396;
    position: absolute;
    top: 200px;
    /* left: 10vw; */
    margin-left: 7vw;
    font-size: 35px;
    cursor: pointer;
  }
  #right-arrow {
    font-weight: bold;
    color: #8C9396;
    position: absolute;
    top: 200px;
    left: 83vw;
    font-size: 35px;
    cursor: pointer;
  }
}

@media (min-width: 650px) {
  #icons-360 {
    display: flex;
    flex-direction: row;
  }
  #version-1-360 {
    margin-left: 20%;
    flex: 1;
  }
  #version-2-360{
    flex: 1;
  }
}
@media (max-width: 650px) {
  #icons-360 {
    display: flex;
    flex-direction: column;
  }
  #version-1-360 {
    margin-left: 30%;
    flex: 1;
  }
  #version-2-360{
    margin-left: 30%;
    flex: 1;
  }
}

/* Display photos without slide */

@media (min-width: 700px) {


  .display-fotos{
    display: flex;

  }

  #fotos-1 {
    flex: 1;
  }
  #fotos-2 {
    flex: 1;
  }
  #fotos-3 {
    flex: 1;
  }
  #fotos-4 {
    flex: 1;
  }





  .contatos {
    display: flex;
  }
  .text-contatos {
    flex: 1;
  }


.logo-uerj {
  flex: 1;
}

}

/* medir to control the menu */

@media (max-width: 850px) {

  .div-header {
    flex-direction: column;
  }

  .navbar {
    width: 50%;
      flex-direction: column;
      align-items: flex-start;
      color: black;
  }

  .toggle-button {
      display: flex;
      color: black;
  }

  .navbar-links {
      font-size: 1.2rem;
      display: none;
      width: 100%;
      margin-left: 0;
  }

  .navbar-links ul {
      
      flex-direction: column;
  }

  .navbar-links ul li {

      text-align: left;
      background-color: #ffffff;
      padding: 0;
      margin-top: 0;
      margin-left: 50px;
    

  }

  .navbar-links ul li a {
      /* padding: .5rem .5rem; */
      
  }

  .navbar-links.active {
      display: flex;
  }
}


@media (max-width: 973px) {
  .contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .logo-uerj {
    flex: 1;
    padding-bottom: 1em;
    /* padding-left: 0.5em; */
  }
  .text-contatos {
    flex: 1;
  }

}
@media (max-width: 846px) {

  .publicacoes-flex{
    display: flex;
    flex-direction: column;
  }
  .aproximando {
    flex: 1;
    
  }
  .aproximando img {
    padding-left: 10em;
  }

  .pub h1 {
    padding-left: 28%;
  }


  .pub-text {
    flex: 2;
    width: 100%;
  }
}



@media (min-width: 847px) {
  .publicacoes-flex{
    display: flex;
  }

  .aproximando {
    flex: 1;

  }
  .pub-text {
    flex: 2;
    
  }
}